* {
    box-sizing: border-box;
  }
  
  /* Estilos Header */
  
  .nome-site {
    text-transform: uppercase;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
  }
  
  .logo-nav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .navbar-links {
    height: 100%;
  }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    display: inline;
    padding: 0 30px 0 0;
  }
  
  .nav-link {
    text-transform: uppercase;
    color: #212529;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.0625em;
  }
  
  .nav-item a:hover {
    color: tomato;
  }
  
  .toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    color: tomato;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: tomato;
    border-radius: 10px;
  }
  
  .img-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  
  /* Media query barra de navegaçao */
  
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .toggle-button {
      display: flex;
    }
  
    .navbar-links {
      display: none;
      width: 100%;
    }
  
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
  
    .navbar-links ul li {
      text-align: center;
    }
  
    .navbar-links ul li a {
      padding: 0.5rem 1rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .img-header {
      display: none;
    }
  }

body {
  font-family: Montserrat, sans-serif;
  display: grid;
}

.who-am-i {
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  padding: 10px;
}

.projects {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  padding: 10px;
}

img.framed {
  box-shadow:
    -50px -50px 0 -40px tomato,
    50px 50px 0 -40px tomato;
  border-radius: 50%;
  margin-left: 20px;
}

footer {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  padding: 10px;
}